.WelcomePage {
	margin: 10px;
	text-align: center;
	font-family: monospace;
}
.WebLink {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.friendster-pages-shared {
	font-family: "Verdana", sans-serif;
	margin: 10px;
}
.friendster-pages-shared:before {
	display: block;
	content: "Friendster";
	background-color: #00a;
	color: white;
	font-weight: bold;
	font-size: large;
	padding: 5px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.FriendsterPage {
	
}
.FriendsterPage ul {
	padding: 0;
}
.FriendCell {
	display: flex;
	flex-direction: row;
}
.FriendCell img {
	width: 60px;
	margin-right: 10px;
}
.FriendsterProfile img {
	width: 80px;
}

.roomster-pages-shared {
	padding: 10px;
	background-color: #fee;
}
.roomster-pages-shared header {
	text-align: center;
	font-size: small;
	padding-left: 20px;
	padding-right: 20px;
	color: #f55;
	font-weight: bold;
}
.RoomsterPage ul {
	padding: 0;
	list-style-type: none;
}
.Detail {
	display: inline-block;
	margin-right: 10px;
}

.Detail .value {
	font-weight: bold;
}

.EmptyState {
	font-style: italic;
	opacity: 0.5;
}

.JobsterPage header img {
	width: 60%;
	display: block;
	margin: auto;
}

.jobster-pages-shared {
	margin: 20px;
}

.jobster-pages-shared .WebLink {
	color: #F77050;
}

.JobCell {
	display: flex;
	flex-direction: row;
}

.JobCell .desc {
	flex-grow: 1;
}

.JobCell .salary {
	font-size: large;
	align-items: center;
	justify-content: center;
}

.JobCell h3 {
	margin-top: 0;
	margin-bottom: 8px;
}

.JobCell {
	margin-bottom: 1em;
}

.JobCell h6 {
	margin-top: 8px;
	margin-bottom: 8px;
	text-transform: uppercase;
	opacity: 0.5;
}
